.contentWrapper {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

.gallery {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.galleryDiv {
    width: 100%;
    margin-bottom: 20px;
}

.inputSection {
    position: relative;
    width: 100%;
    margin-top: 190px;
}

.inputDiv {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    padding: 0;
}

.inputDiv div {
    width: 20% !important;
    height: 60px !important;
    color: white;
    background-color: #373196;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.inputDiv a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 60px;
    cursor: pointer;
}

.contentWrapper input {
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    outline: none;
    font-size: 18px;
    border: none;
}

@media only screen and (max-width: 768px) {
    .inputDiv div {
        display: none;
    }
}