.contentWrapper {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnDiv {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: auto;
    margin-top: 180px;
}

.btnDiv button {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;

}

.btnDiv button:hover {
    background-color: #fff;
    color: black;
}

.btnDiv button:disabled {
    color: #ccc;
    border: 1px solid #ccc;
}

@media only screen and (max-width: 768px) {
    .btnDiv {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: auto;
        margin-top: 140px;
        margin-bottom: 40px;
    }
}