.loginContainer {
    display: flex;
    flex-direction: column;
}

.facebookDiv,
.googleDiv {
    margin-top: -10px !important;
}

.facebookLogin {
    font-weight: bold;
}

.googleLogin {
    background-color: whitesmoke !important;
    color: black !important;
    font-weight: bold;
}

@media only screen and (max-width: 600px) {
    .loginContainer {
        width: 100%;
    }

}