.loginContainer {
    display: flex;
    flex-direction: column;
}

.facebookButton,
.googleButton {
    width: 100% !important;
    margin-top: -30px !important;
}

.facebookLogin {
    font-weight: bold;
}

.googleLogin {
    background-color: whitesmoke !important;
    color: black !important;
    font-weight: bold;
}

@media only screen and (max-width: 600px) {
    .loginContainer {
        width: 100%;
    }

    .loginContainer .facebook,
    .loginContainer .google {
        width: 100%;
    }

    .facebookButton,
    .googleButton {
        width: 100% !important;
    }

}