.contentWrapper {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center
}

.content {
    width: 90%;
}

.content h3 {
    margin-bottom: 70px;
    font-size: 40px;
}

.imgDiv img {
    width: 450px;
    height: 450px;
}

.btns {
    width: 40%;
    margin: auto;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}

.btns a {
    text-decoration: none;
    border: 1px solid white;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    font-size: 15px;
}

.btns a:hover {
    background-color: #fff;
    color: black;
}

@media only screen and (max-width: 768px) {
    .btns {
        display: block;
        width: 90%;
        margin-top: 50px !important;
    }

    .btns a {
        margin: 50px !important;
    }
}

@media only screen and (max-width: 600px) {
    .btns {
        display: block !important;
        width: 100% !important;
    }

    .btns a {
        margin: 10px !important;
    }

    .imgDiv {
        width: 100%;
    }

    .imgDiv img {
        width: 100% !important;
    }
}