.loader {
    display: flex;
    justify-content: center;
    align-items: center;
}

.table {
    width: 100%;
    margin: 0 auto;
    background-color: #333;
    color: #fff;
    padding: 10px;
}

.filterInput {
    width: 40%;
    padding: 8px;
    margin-bottom: 10px;
    outline: none;
    border: none;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th,
.table td {
    padding: 8px;
    text-align: left;
    color: #fff;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

.table tr {
    padding: 100px;
}

.table th {
    background-color: #555;
}

.table tbody tr:hover {
    background-color: #666;
    cursor: pointer;
}

.pagination {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.pagination ul {
    list-style-type: none;
    padding: 0;
    display: flex;
}

.pagination li {
    cursor: pointer;
    padding: 5px 10px;
    margin: 0 5px;
    background-color: #555;
}

.pagination li.active {
    background-color: #666;
}

.table-container img {
    height: 40px;
    width: 40px;
    border: 1px solid white;
}