.contentWrapper {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center
}

.content {
    width: 90%;
    padding-top: 30px;
}

.generatedSection {
    display: flex;
    justify-content: center;
    align-items: center;
}

.images img {
    width: 600px;
    height: 600px;
}

.selectBtns {
    width: 300px;
    height: 300px;
}

.btns {
    margin-left: 40px;
    text-align: center;
}

.btns button {
    display: block;
    width: 100%;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 5px;
    margin-top: 10px;
    color: white;
    padding: 10px;
    cursor: pointer;
}

.btns button:hover {
    background-color: #fff;
    color: #000;
}

.Loader {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 768px) {
    .content {
        width: 90%;
        padding-top: 100px;
    }

    .generatedSection {
        display: block;
    }

    .btns {
        width: 90%;
        margin-top: 40px;
    }
}

@media only screen and (max-width: 600px) {
    .content {
        width: 90%;
        padding-top: 100px;
    }

    .generatedSection {
        display: block;
    }

    .images img {
        width: 100%;
        height: 100%;
    }

    .selectBtns {
        width: 100%;
        height: 100%;
    }

    .btns {
        width: 100%;
        margin: 10px 0 0 0;
    }
}