.contentWrapper {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center
}

.content {
    width: 80%;
}

.content h3 {
    font-size: 40px;
    margin-top: 100px;
}

.inputDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    margin-top: 200px;
    border-radius: 10px;
}

.inputDiv a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    cursor: pointer;
}

.content input {
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    outline: none;
    font-size: 18px;
    border: none;
}

.btnDiv {
    margin-top: 260px;
}

.btnDiv a {
    background-color: #373196;
    color: white;
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
}

@media only screen and (max-width: 600px) {
    .content h3 {
        font-size: 30px;
        margin-top: 100px;
    }
}